.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.footer-logo img {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 10px 0;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


.footer-contact p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-social a {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
}


.footer-social img {
    width: 24px;
}