*{
  margin: 0;
  padding: 0;
}
hr{
  border: 1.5px solid black;
  margin: auto;
  width: 50%;
}
.container{
  border: none;
  margin-top: 15px;
  margin-bottom:15px ;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  width: 1170px;
  flex-wrap:wrap; 
  justify-content:space-around;
}
.box{
  flex-basis: 30%;
  height: auto;
  border: 2px solid brown;
  margin: 10px 0;
  padding: 10px 0;
  box-shadow: 0 0 10px lightgrey;
  text-align: center;
}
.box img{
  display: block;
  width: 70%;
  height: auto;
  min-width: 150px;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
}
.item-text{
  font-size: 15px;
  padding: 3px;
}
h2{
  padding: 7px 0;
}
.box button{
  background: blue;
  padding: 10px 25px;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 10px 0;
}
.box:hover{
  background-color: blue;
;
}
.box:hover h2{
  color: white;
}
.box:hover p{
  color: white;
}
.box:hover button{
  background: white;
  color: blue;
}


.hed{
  text-align: center;
  margin-top: 25px;
}

@media only screen and (min-width: 200px) and (max-width: 767px){
  .container{
    width:100%;
    flex-direction: column;
  }
  .box{
    margin: 10px;
  }
}